<p id="notice"><%= notice %></p>

<h1>TOUS LES CORSAIRS</h1>

<table>
  <!-- <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Kebab</th>
      <th>Bio</th>
      <th>Slack</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <div class = "row">
    <% @users.each do |user| %>
          <div class = "col-md-5 center corsair">
            <div class = "col-md-4">
              <%= user.name %>
            </div>
            <div class = "col-md-4">
              <%= user.email %>
            </div>
            <div class = "col-md-4">
              <% if user.kebab == true %>
                KEBAB
              <% else %>
                HUMMUS
              <% end %>
            </div>
            <!-- <td><%= user.bio %></td>
            <td><%= user.slack %></td> -->
            <!-- <td><%= link_to 'Show', user %></td>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </div>
    <% end %>
  </div>
    <br>
    <div class = "row">
      <div class ="col-md-12 center">
        <button type="button" href = "<% new_user_path %>" class="btn btn-primary">CREATE NEW PROFILE</button>
        <button type="button" href = "<%= new_user_path %>" class="btn btn-primary">CHANGE YOUR CHOICE</button>
      </div>
    </div>


<!-- <%= link_to 'New User', new_user_path %> -->
